.center-config {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
 /deep/ .layout-header-container {
  background: transparent !important;
}
 /deep/ input .ant-input {
  background: transparent !important;
}
 /deep/ .ant-input {
  /*background: transparent !important;*/
  background-color: transparent !important;
  color: #fff !important;
  border-radius: 10px;
}
